

.page2 {

    min-height: 85vh;

    padding-top: 85px;

    background: #111111;

}

.parent1 {

    display: grid;
    
    grid-template-columns: repeat(2, 1fr);

    grid-template-rows: repeat(2, 1fr);

    margin-top: 90px;

    gap: 50px;

    justify-items: center;

    align-items: center;

}


.child1 {

    grid-area: 1 / 1 / 2 / 2;

    display: flex;

}

.child2 {

    grid-area: 1 / 2 / 2 / 3;

    display: flex;

}

.child3 {

    grid-area: 2 / 1 / 3 / 2;

    display: flex;

}

.child4 {

    grid-area: 2 / 2 / 3 / 3;

    display: flex;

}

.child1,
.child2,
.child3,
.child4 {

    width: 555px;

}

.page2Content {

    display: flex;

    flex-direction: column;

    align-items: center;

    max-width: 100%;
    
}


.page2Title {

    font-weight: 700;

    letter-spacing: .8px;

    color: #fff;

    font-family: 'gilroy-bold', sans-serif;

    line-height: 30px;

    font-size: 24px;

    margin-left: -165px;

}

.child1Icon {

    background: url(../../assets/Rectangle.png);

    background-repeat: no-repeat;

    background-position: 0 0;

    background-size: contain;

    justify-content: center;

    align-items: center;

    width: 135px;

    height: 135px;

    display: flex;

    position: relative;

}

.child2Icon {

    background: url(../../assets/Rectangle.png);

    background-repeat: no-repeat;

    background-position: 0 0;

    background-size: contain;

    justify-content: center;

    align-items: center;

    width: 135px;

    height: 135px;

    display: flex;

    position: relative;

}

.child3Icon {

    background: url(../../assets/Rectangle.png);

    background-repeat: no-repeat;

    background-position: 0 0;

    background-size: contain;

    justify-content: center;

    align-items: center;

    width: 135px;

    height: 135px;

    display: flex;

    position: relative;

}


.child4Icon {

    background: url(../../assets/Rectangle.png);

    background-repeat: no-repeat;

    background-position: 0 0;

    background-size: contain;

    justify-content: center;

    align-items: center;

    width: 135px;

    height: 135px;

    display: flex;

    position: relative;

}


.circle1-1 {

  position: absolute;

  top: -13px;

  left: -8px;

  width: 16px;

  height: 16px;

}
.circle1-2 {

  position: absolute;

  bottom: 50px;

  right: 10px;

  width: 6px;

  height: 6px;

}
.circle1-3 {

  position: absolute;

  top: -10px;

  right: -10px;

  width: 10px;

  height: 10px;

}


.circle2-1 {

    position: absolute;

    top: 90px;

    right: 80px;

    width: 10px;

    height: 10px;

}

.circle2-2 {

    position: absolute;

    top: 0px;

    left: 0px;

    width: 8px;

    height: 8px;

}

.circle2-3 {

    position: absolute;

    width: 4px;

    height: 4px;

    top: 2px;

    right: 15px;

}

.circle3-1 {

    position: absolute;

    top: -5px;

    right: 80px;

    width: 10px;

    height: 10px;

}

.circle3-2 {

    position: absolute;

    top: 80px;

    left: 0px;

    width: 8px;

    height: 8px;

}

.circle3-3 {

    position: absolute;

    width: 4px;

    height: 4px;

    top: 8px;

    right: 5px;

}


.circle4-1 {

    position: absolute;

    top: 70px;

    left: 66px;

    width: 10px;

    height: 10px;

}

.circle4-2 {

    position: absolute;

    top: -10px;

    left: -10px;

    width: 8px;

    height: 8px;

}

.circle4-3 {

    position: absolute;

    width: 4px;

    height: 4px;

    top: 8px;

    right: -15px;

}




.child1Txt,
.child2Txt,
.child3Txt,
.child4Txt {

    margin-left: 30px;

    margin-top: 10px;



}

.child1Txt h3,
.child2Txt h3,
.child3Txt h3,
.child4Txt h3 {

    font-size: 31px;

    font-weight: 700;

    line-height: 29px;

    font-family: 'outfit', sans-serif;

    color: #fff;

}

.music {

    width: 33%;
    
    vertical-align: middle;

    display: flex;

    justify-content: center;

    align-items: center;

    pointer-events: none;

    transform: translate(-5%, -70%);

}

.tv {

    transform: translate(1%, -75%);

    width: 30%;

}

.controller {

    width: 48%;

    transform: translate(1%, -35%);
}

.mic {

    width: 22%;

    height: 22%;

    transform: translateY(-90%);

}

.child1Txt p,
.child2Txt p,
.child3Txt p,
.child4Txt p {

    font-size: 19px;

    font-weight: 400;

    line-height: 28px;

    font-family: 'gilroy-light', sans-serif;

    color: #deddddcb;

    margin-top: 20px;

    letter-spacing: 0.5px

}
