

 .header {

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 47px 200px;

  background-color: transparent;

  color: #fff;

  font-family: 'gilroy', sans-serif;

}

.logoImg {

  display: inline-block;

  width: 180px;

  height: 25px;

  line-height: 26px;

  font-size: 16px;

  color: #fff;

  

}

.nav {

    margin-right: 23px;

}

.nav a {

  color: #f13c51;

  margin-left: 20px;

  text-decoration: none;

  transition: color 0.3s ease;

  font-size: 20px;

  letter-spacing: 1px;

  line-height: 16px;

  font-weight: 600;

  font-family: 'outfit', sans-serif;

}

.nav a:hover {

    text-decoration: underline;

}



.learn,
.download {

    margin-right: 18px;

}


.line {

  width: 100%;

  background: #EE4055;

  display: flex;

  justify-content: center;

  align-items: center;

  height: 58px;

  color: #fff;

  font-size: 21px;

  font-weight: 500;

  margin-top: -10px;

  font-family: 'outfit', sans-serif;


}


.icon {

  font-size: 30px;

  font-weight: 700;

  vertical-align: middle;

  display: inline-flex;

  align-items: center;

  justify-content: center;

  margin-left: -5px;

  color: #f13c51;

}

